PORT=5000

# 1. Sử dụng database MongoDB Atlas (Cloud)
# Hãy thay đổi <username>, <password> bằng thông tin kết nối MongoDB Atlas của bạn
# MONGO_URI=mongodb+srv://<username>:<password>@gamestore.pnevo4b.mongodb.net/game_store?appName=GameStore

# 2. Sử dụng database MongoDB chạy ở Local
# MONGO_URI=mongodb://localhost:27017/game_store

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d