@import "tailwindcss";

@theme {
  --color-background: #0b0e14;
  --color-text-main: #f3f4f6;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  font-family: system-ui, sans-serif;
}